.input {
    display: block;
    padding: 15px;
    border: 2px solid white;
    border-radius: 5px;
    width: 300px;
    font-family: Gepeste;
    font-size: 16px;
}

.input:focus {
    border: 2px solid #4E5283;
    outline: #4E5283;
}

.inputError {
    display: block;
    padding: 15px;
    border: 2px solid red;
    border-radius: 5px;
    width: 300px;
    font-family: Gepeste;
    font-size: 16px;
}

.inputError:focus {
    border: 2px solid red;
    outline: red;
}

#signInEmail {
    margin-top: 30px;
}

#signInPassword {
    margin: 15px 0px 30px 0px;
}

#signUpName {
    margin-top: 30px;
}

#signUpEmail {
    margin: 15px 0px;
}

#signUpPassword {
    margin: 15px 0px 30px 0px;
}

#imageUrlInput {
    display: inline;
    width: 60%;
    border-radius: 5px 0px 0px 5px;
}