.faceRecognition {
    margin: 30px auto 30px auto;
}

.imageContainer {
    position: absolute;
    border: 2px solid white;
    box-shadow: 3px 3px 10px white;
}

.box {
    border: 3px solid hotpink;
    position: absolute;
}

.box:hover {
    cursor: pointer;
}