body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html, body, #root, #root>div {
    height: 100%;
}

@font-face {
    font-family: "Edge of the Galaxy";
    src: local("EdgeOfTheGalaxy"), url("./fonts/EdgeOfTheGalaxy.otf") format("truetype");
}

@font-face {
    font-family: "Gepeste";
    src: local("Gepeste"), url("./fonts/Gepeste.ttf") format("truetype");
}

h1,h2 {
    font-family: "Edge of the Galaxy";
    letter-spacing: 3px;
    font-weight: normal;
}